{% extends 'DeclickCoreBundle:Main:content.html.twig' %}

{% block title %}
    {{'admin.title'|trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% set active = 'exercises' %}
            {% include 'DeclickCoreBundle:Admin:menu.html.twig' %}
        </div>
        <div class="col-md-9">
            {% include "DeclickCoreBundle:Paginated:main.html.twig" %}
            <a href="{{ path('declick_exercise_create') }}" class="btn btn-default content-link" data-active="profile" data-title="profile">
                    {{'exercise.creation'|trans }} 
            </a>        
        </div>
    </div>
{% endblock %}
                    
{% if updateUserMenu %}
    {% block script %}
        $(function() {
            updateUserMenu(false, true, false);
        });
    {% endblock %}
{% endif %}

