{% extends 'DeclickCoreBundle:Main:content.html.twig' %}

{% block title %}
    {{'admin.title'|trans }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% set active = 'projects' %}
            {% include 'DeclickCoreBundle:Admin:menu.html.twig' %}
        </div>
        <div class="col-md-9">
            {% include "DeclickCoreBundle:Paginated:main.html.twig" %}
        </div>
    </div>
{% endblock %}