@font-face {
    font-family: "Comfortaa";
    src: url('../fonts/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: "Comfortaa";
    font-weight: bold;
    src: url('../fonts/Comfortaa-Bold.ttf');
}

* {
    margin:0;
    padding:0;
    border: none;
}

html {
    height:100%;
}

body {
    padding:0 15px 10px 15px;
    background-color:#FFFFFF;
    box-sizing:border-box;
    height:100%;
    min-height:100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#local-frame {
    position:relative;
    z-index:1;
    width:100%;
    border:none;
    padding:50px 0 0 0;
    margin:0;
    box-sizing:border-box;
    height:100%;
    min-height:100%;
    display:block;
}

#content {
    box-sizing:border-box;
    padding:40px 0 0 0;
    height:100%;
    width:100%;
    position:absolute;
    z-index:2;
    background-color:white;
}

#content.loading {
    background-image:url(../img/loader2.gif);
    background-repeat:no-repeat;
    background-position:50% 50%;
}

#content .pull-right {
    margin-right:5px;
}

.close-content {
    float:right;
    background-image:url(../img/close.png);
    background-repeat:no-repeat;
    background-position:right top;
    height:26px;
    width:26px;
    margin-top:5px;
    cursor:pointer;
}

#navbar-declick {
    background-color:#ffffff;
    color:#480a2a;
    min-height:50px;
    height:50px;
    line-height:50px;
    margin:0;
    padding:0 15px;
}

#navbar-declick .navbar-toggle .icon-bar {
    background-color:#000000;
}

#navbar-declick .navbar-toggle {
    margin-top: 4px;
}

@media (min-width: 768px) {
    #main-menu .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    #main-menu {
        text-align: center;
    }

    #menu {
        position:relative;
        line-height:50px;
    }

    #menu .name {
        font-size:20pt;
        font-family: "Rubik",sans-serif;
        font-weight:700;
        display:inline-block;
        height:50px;
        line-height:50px;        
    }
    
    #menu > li {
        display:inline-block;
        float:none;
    }

    #menu > li > a {
        padding:0;
        vertical-align:middle;
        display:inline-block;
        line-height:normal;
        background-color:transparent;
    }

    #project {
        margin-right:30px;
    }
    
    #menu .dropdown-menu {
        top:40px;
        padding-left:20px;
        padding-right:20px;
    }

    #menu .dropdown-menu a {
        color:#503d2c;
    }

    #menu .dropdown-menu a:hover {
        text-decoration:underline;
        background:none;
    }
    
    #switch {
        margin-right:18px;
    }
}

@media (max-width: 768px) {
    #main-menu {
        background-color:#FFFFFF;
    }
}


.switch_button {
    height:36px;
    width:36px;
    background-color:transparent;
    border:none;
    cursor: pointer;
}

#switch_editor {
    background-image:url('../img/editor.png');
}

#switch_editor:hover {
    background-image:url('../img/editor_on.png');
}

#switch_view {
    background-image:url('../img/view.png');
    display:none;
}

#switch_view:hover {
    background-image:url('../img/view_on.png');
}

#user-dropdown-trigger.loading,
li.active > #user-dropdown-trigger.loading,
#user-dropdown-trigger.loading:hover
{
    padding-left:20px;
    background-image:url(../img/loader1.gif);
    background-repeat:no-repeat;
}

#user-dropdown-trigger .glyphicon-user.admin {
    color:#e47637;
}


.btn-success {
    background-image: linear-gradient(to bottom, #60b0a0 0px, #6dbea9 100%);
    background-repeat: repeat-x;
    border-color: #4d9e89;
}

footer {
    padding-top:50px;
    text-align:center;
}


#help-frame{
    /*width: 245px;
    position: absolute;
    left: -245px;
    top: 0px;
    background-color: #6DBEA9;
    height: 500px;
    margin-top : 40px;*/
    width:365px;
    height:100%;
    box-sizing:border-box;
    padding-top:0;
    position:absolute;
    top:40px;
    left:-365px;
    z-index:100;
    overflow-x: hidden;
    overflow-y: scroll;
}

#icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}


table.data-display {
    border-collapse:collapse;
}

table.data-display td {
    padding:5px 8px;
}

td.data-title {
    font-weight:bold;
    text-align:right;
}

.button-group button {
    margin-right:30px;
}

.container .alert {
    margin-top:20px;
}

#carousel-discover {
    margin-top:20px;
}

#carousel-discover .carousel-inner {
    max-width:800px;
    max-height:400px;
    margin-left:auto;
    margin-right:auto;
}

#carousel-discover .carousel-control.left,
#carousel-discover .carousel-control.right {
    background-image:none;
    background-color:#d5d5d5;
}

#carousel-discover .carousel-caption {
    max-width:200px;
    background-color:rgba(0,0,0,0.5);
    left:0;
    top:0;
    right:auto;
    height:100%;
    padding-left:10px;
    padding-right:10px;
    padding-top:50px;
    line-height:1.6em;
}

#carousel-discover .carousel-caption a,
#carousel-discover .carousel-caption a:active,
#carousel-discover .carousel-caption a:visited {
    color:#EDA735;
}

#carousel-discover .carousel-caption h3 {
    font-family: Comfortaa, "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:bold;
    color:#EDA735;
    line-height:1em;
}

.program-state {
    color: white;
    font-family: comfortaa;
    font-size: 11px;
    margin-top: 10px;
}

#pagination {
    text-align:center;
}