<div class="navbar navbar-fixed-top" id="navbar-declick" role="navigation">
    <div class="nav navbar-nav navbar-left" id="menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu-dropdown-trigger">
            <img src="{{ asset('bundles/declickcore/img/menu.png') }}">
<!--                <span class="caret"></span>-->
        </a>
        {% if current_project is defined %}
            {% if current_project.getName() is defined %}
                <div class="name" id="project-name">
                {% if current_project.getName() is empty %}
                    {{ 'project.default_name' | trans }}
                {% else %}
                    {{ current_project.getName() }}
                {% endif %}
                </div>
            {% endif %}
        {% endif %}

        <ul class="dropdown-menu dropdown-menu-left" id="menu-dropdown" role="menu" tabindex="100">
{% if  app.user is not null %}
{% if is_granted('ROLE_USER') %}
    {% include "DeclickCoreBundle:User:logged.html.twig" %}
{% else %}
    {% include "DeclickCoreBundle:User:anonymous.html.twig" %}
{% endif %}
{% else %}
{% include "DeclickCoreBundle:User:anonymous.html.twig" %}
{% endif %}
        </ul>
    </div>
    <ul class="nav navbar-nav navbar-right" id="switch">
        <li>
            <button id="switch_editor" class="switch_button">
            <button id="switch_view" class="switch_button">
        </li>
    </ul>
</div>