{% extends "::base.html.twig" %}
{% block stylesheets %}
    {% include "DeclickCoreBundle:Main:stylesheets.html.twig" %}
{% endblock %}
{% block javascripts %}
    {% include 'DeclickCoreBundle:Main:javascript.html.twig' %}
{% endblock %}
{% block body %}
    {% block menu %}
        {% include "DeclickCoreBundle:User:menu.html.twig" %}
    {% endblock %}
    {% block content %}
        {% if contentTemplate %}
        <div id="content">
            {% include contentTemplate %}
        </div>
        {% else %}
        <div id="content" class="hide-at-startup">
        </div>
        {% endif %}
    {% endblock %}
    {# added 'onmousewheel="" to solve a bug in safari (see http://kb.tableausoftware.com/articles/issue/scroll-bars-in-embedded-views-do-not-work-in-safari) #}
    <iframe id="wiki-frame" src="{{ tutorial }}" frameborder="0" onmousewheel=""></iframe>
    <iframe id="local-frame" src="{{ client }}" frameborder="0" scrolling="no" onmousewheel=""></iframe>
<script>
    $(function() {
        addLocalInitCallback(function() {
            {% if (showEditor is defined) %}
                {% if showEditor %}
            updateLocal(true);
                {% endif %}
            {% endif %}
            platform.initWithTask(task);            
        });
    });
    /*window.addInitCallback
    $(function() {
        updateLocal(true);
    });*/
</script>
{% endblock %}
